.l-row {
  --rowLayoutGap: var(--baselineUnit);
  display: flex;
  flex-direction: column;
  row-gap: var(--rowLayoutGap);
}

.l-column {
  --columnGap: var(--baselineUnit);
  display: grid;
  align-items: flex-start;
  row-gap: var(--columnGap);
}

.l-autocolumns {
  --columnGap: var(--baselineUnit);
  display: flex;
  column-gap: var(--columnGap);
}
