html {
  background-image: linear-gradient(
      rgba(169, 169, 169, 0.05) 0.05em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba(169, 169, 169, 0.05) 0.05em, transparent 0.1em);
  background-size: var(--baselineUnit) var(--baselineUnit);
  background-attachment: scroll;
  /* background-position: calc(50% - 1.75rem/2) -17px; */
}
