[class*='flex-'] {
  flex-grow: var(--flex-grow);
  flex-shrink: var(--flex-shrink);
  flex-basis: var(--flex-basis);
}

.flex-none {
  --flex: none;
}

.flex-auto {
  --flex: 1 1 auto;
}

.flex-grow {
  --flex: 1;
}
