a {
  --link-color: var(--color-primary-3);
  font-weight: 700;
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.35s ease-in-out;

  &:hover {
    --link-color: var(--color-primary-2);
  }
}
