fieldset,
ol,
ul {
  padding: 0;
  margin: 0;
}

ol,
ul {
  --list-style: none;
  list-style: var(--list-style);
}

.list-disc {
  --list-style: disc;
}

.list-decimal {
  --list-style: decimal;
}

.list-square {
  --list-style: square;
}

.list-roman {
  --list-style: upper-roman;
}
