.gap-ru {
  --rowLayoutGap: var(--rhythmUnit);
  --columnGap: var(--rhythmUnit);
}

.gap-su {
  --rowLayoutGap: var(--scalarUnit);
  --columnGap: var(--scalarUnit);
}

.gap-bl1 {
  --rowLayoutGap: var(--baselineUnit1);
  --columnGap: var(--baselineUnit1);
}

.gap-bl2 {
  --rowLayoutGap: var(--baselineUnit2);
  --columnGap: var(--baselineUnit2);
}

.gap-bl3 {
  --rowLayoutGap: var(--baselineUnit3);
  --columnGap: var(--baselineUnit3);
}
