.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-bl1 {
  height: var(--baselineUnit1);
}

.h-bl3 {
  height: var(--baselineUnit3);
}

.height-rem {
  height: calc(var(--scalarUnit) * var(--height, 1));
}

.height-bl {
  height: calc(var(--baselineUnit) * var(--height, 1));
}

.width-bl {
  width: calc(var(--baselineUnit) * var(--width, 1));
}
