.text-uppercase {
  text-transform: uppercase;
}

p:last-child {
  margin-bottom: 0;
}

a {
  --link-color: var(--color-neutral-3);
  color: var(--link-color);
  transition: color 0.35s ease-in-out;
  text-decoration: none;

  &:hover {
    --link-color: var(--color-neutral-1);
  }
}
